@import "theme.css";
@import "colors.css";
@import "table.css";
@import "grid-flex.css"; 
/* @import "traditional-layout.css"; */

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: grid;
}

